---
import Image from "astro/components/Image.astro";

import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/page/LandingHeader.astro";
import Footer from "../components/page/Footer.astro";
import AppSection from "../components/AppSection.astro";
import MemberCard from "../components/MemberCard.astro";

// Icons
import TigerAppsLogo from "../assets/icons/logo.png";
import GithubIcon from "../assets/icons/github-mark.svg";

// App Images
import TigerJunctionImage from "../assets/apps/tigerjunction.webp";
import PrincetonCoursesImage from "../assets/apps/princetoncourses.webp";
import TigerSnatchImage from "../assets/apps/tigersnatch.webp";
import TigerPathImage from "../assets/apps/tigerpath.webp";
import GiglImage from "../assets/apps/gigl.webp";
import TigerDrawImage from "../assets/apps/tigerdraw.webp";
import TigerStudyImage from "../assets/apps/tigerstudy.webp";
import TigerRetailImage from "../assets/apps/tigerretail.webp";

// Apply Images
import Apply1 from "../assets/icons/apply-crit1.svg";
import Apply2 from "../assets/icons/apply-crit2.svg";
import Apply3 from "../assets/icons/apply-crit3.svg";

// Member Images
import JoshuaHeadshot from "../assets/members/joshua.webp";
import LeoHeadshot from "../assets/members/leo.webp";
import HangHeadshot from "../assets/members/hang.webp";

const COURSE_PLANNING_CARDS = [
    {
        title: "TigerJunction",
        description:
            "Plan your schedules with powerful advanced search features, customizable themes, and built-in ratings. By Joshua Lau '26.",
        note: "",
        webLink: "https://junction.tigerapps.org",
        repoLink: "https://github.com/TigerAppsOrg/tiger-junction",
        screenshot: TigerJunctionImage,
        alt: "Tiger Junction app screenshot"
    },
    {
        title: "PrincetonCourses",
        description:
            "Search through courses quickly to find the list of courses you wish to take. By Sebastian Hallum Clarke '19, Caterina Golner '19, Bensu Sicim '19, Mel Shu '19, and Kara Bressler '19.",
        note: "",
        webLink: "https://princetoncourses.com/",
        repoLink: "https://github.com/PrincetonUSG/PrincetonCourses",
        screenshot: PrincetonCoursesImage,
        alt: "Princeton Courses app screenshot"
    },
    {
        title: "TigerSnatch",
        description:
            "Receive email and text message notifications when spots open in full classes. Trade spots with other students. By Shannon Heh '23, Nick Padmanabhan '23, and Byron Zhang '23.",
        note: "",
        webLink: "https://tigersnatch.com/?ref=tigerapps",
        repoLink: "https://github.com/PrincetonUSG/tigersnatch",
        screenshot: TigerSnatchImage,
        alt: "Tiger Snatch app screenshot"
    },
    {
        title: "TigerPath",
        description:
            "Plan out your four-year course schedule and track major/degree requirements. By Richard Chu '18, Barak Nehoran '18, Daniel Leung '20, and Adeniji Ogunlana '19.",
        note: "",
        webLink: "https://www.tigerpath.io/",
        repoLink: "https://github.com/PrincetonUSG/TigerPath",
        screenshot: TigerPathImage,
        alt: "Tiger Path app screenshot"
    }
];

const CAMPUS_LIFE_CARDS = [
    {
        title: "Gigl",
        description:
            "Unleash your skills and earn money by connecting with fellow students seeking your talents! Apply to gigs, set up your freelancer profile and wait for offers OR post a gig yourself if you are looking to hire someone. By Taylan Aydin '25, Andre Biehl '25, Yagiz Devre '26, and Ibrahim Ahmed '25.",
        note: "",
        webLink: "https://gigl.tigerapps.org/",
        repoLink: "https://github.com/TigerAppsOrg/gigl",
        screenshot: GiglImage,
        alt: "Gigl app screenshot"
    },
    {
        title: "TigerDraw",
        description:
            "The one-stop-shop platform for room draw planning. See when past rooms were drawn, filter them, and create a list of potential rooms without needing to parse through PDFs. By Christine Cho '22, Grace Cuenca '22, Frank Ge '22, and Hannah Huh '22.",
        note: "",
        webLink: "https://draw.tigerapps.org/",
        repoLink: "https://github.com/PrincetonUSG/TigerDraw",
        screenshot: TigerDrawImage,
        alt: "Tiger Draw app screenshot"
    },
    {
        title: "TigerStudy",
        description:
            "Get matched to study groups for any of your courses. By Caroline di Vittorio '22 and Kasey McFadden '22.",
        note: "Note: Any inquiries about study group matching should be directed to the McGraw Center.",
        webLink: "https://tiger-study.herokuapp.com/",
        repoLink: "https://github.com/PrincetonUSG/TigerStudy",
        screenshot: TigerStudyImage,
        alt: "Tiger Study app screenshot"
    },
    {
        title: "TigerRetail",
        description:
            "Buy, sell, and request goods; direct message users in-site, connect with transportation buddies, find campus event tickets, and more. By Albert Lin '23, Katie McLaughlin '23, Sara Schwartz '23, Phoebe Lin '23.",
        note: "",
        webLink: "http://retail.tigerapps.org/",
        repoLink: "https://github.com/PrincetonUSG/TigerReTail",
        screenshot: TigerRetailImage,
        alt: "Tiger Retail app screenshot"
    }
];

const MEMBERS = [
    {
        name: "Joshua Lau '26",
        title: "Senior Developer",
        position: "Co-President",
        website: "https://motoaki.dev",
        github: "https://github.com/joshuamotoaki",
        headshot: JoshuaHeadshot
    },
    {
        name: "Leo Stepanewk '25",
        title: "Senior Developer",
        position: "Co-President",
        website: "",
        github: "https://github.com/leo-step",
        headshot: LeoHeadshot
    },
    {
        name: "Hang Pham '26",
        title: "Senior Developer",
        position: "Treasurer",
        website: "",
        github: "https://github.com/thanhhang1306",
        headshot: HangHeadshot
    },
];

const PAST_MEMBERS = [
    "Shivam Kak '26",
    "Youngseo Lee '25",
    "Adam Kelch '24",
    "Daniel Park '24",
    "Taylor Yamashita '24",
    "Benjamin Chan '23",
    "Adam Gamba '23",
    "Shannon Heh '23",
    "Nicholas Padmanabhan '23",
    "Charles An '22",
    "Ayo Oguntola '23",
    "Emre Cakir '21",
    "Reilly Bova '20",
    "Rushy Panchal '19",
    "Ben Parks '17",
    "Maxim Zaslavsky '17"
];
---

<Layout>
    <LandingHeader />
    <section id="hero" class="bg-secondary text-on-secondary pt-32 pb-16">
        <div class="cont text-center">
            <div class="flex flex-col items-center w-96 mx-auto gap-8">
                <Image
                    src={TigerAppsLogo}
                    alt="TigerApps logo"
                    loading="eager"
                />
                <h2 class="text-on-secondary">
                    For Students, <br /> By Students
                </h2>
            </div>
            <div
                class="border-b-4 w-32 border-on-secondary rounded-full my-8 mx-auto">
            </div>
            <div class="text-xl space-y-4">
                <p>
                    We build apps and support developers on campus.
                    Student-built, student-maintained apps built over the years,
                    designed to improve your campus experience.
                </p>
                <p>
                    TigerApps is fully funded by Princeton's Undergraduate
                    Student Government.
                </p>
            </div>
        </div>
    </section>
    <section id="apps" class="py-16">
        <div class="cont">
            <AppSection
                title="Course Planning"
                description="Plan your schedule and get notifications when spots open up."
                cards={COURSE_PLANNING_CARDS}
            />
            <AppSection
                title="Campus Life"
                description="Prepare for Room Draw, stay active, and meet new friends over food."
                cards={CAMPUS_LIFE_CARDS}
            />
            <p class="text-xl text-center">
                You can check out some of our older apps in the
                <a class="text-secondary underline" href="/archive">
                    Archive</a
                >.
            </p>
        </div>
    </section>
    <section id="develop" class="py-16 bg-primary text-on-primary text-lg">
        <div class="cont text-center">
            <div class="space-y-2">
                <h3>DEVELOP</h3>
                <p class="text-xl">Interested in creating the next TigerApp?</p>
            </div>
            <div
                class="border-b-4 w-32 border-secondary rounded-full my-4 mx-auto">
            </div>
            <div class="space-y-2">
                <p>
                    TigerApps is a student-run organization that maintains and
                    supports student-developed web applications. We cover all
                    technological costs associated with the apps and advertise
                    them on our homepage.
                </p>
                <p>
                    There are 3 criteria for your app to become part of
                    TigerApps.
                </p>
            </div>
            <div class="md:flex md:items-start md:justify-center gap-4">
                <div class="apply-step">
                    <Image
                        src={Apply1}
                        alt="1st Decorational icon for applying to TigerApps"
                    />
                    <p>
                        Relates to student life on campus or supports a
                        non-profit organization
                    </p>
                </div>
                <div class="apply-step">
                    <Image
                        src={Apply2}
                        alt="2nd Decorational icon for applying to TigerApps"
                    />
                    <p>Fully functional, no known bugs, and open source</p>
                </div>
                <div class="apply-step">
                    <Image
                        src={Apply3}
                        alt="3rd Decorational icon for applying to TigerApps"
                    />
                    <p>
                        Built using modern frameworks and programming languages
                    </p>
                </div>
            </div>

            <div>
                <div>
                    <p>
                        Unsure where to start? Check out some Princeton data
                        sources to start building your app.
                    </p>
                    <a class="link-button" href="/resources">
                        View Data Sources
                    </a>
                </div>
                <div>
                    <p>
                        Once your app is ready to launch, apply to become a
                        TigerApp.
                    </p>
                    <a
                        class="link-button"
                        href="https://tinyurl.com/TigerAppsSubmission">
                        Submit an App</a
                    >
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="py-16">
        <div class="cont text-center">
            <div class="space-y-2">
                <h3>ABOUT US</h3>
                <p class="text-lg">Meet the TigerApps team!</p>
            </div>
            <div
                class="border-b-4 w-32 border-secondary rounded-full my-4 mx-auto">
            </div>

            <article>
                <h4 class="mb-4">Current Members</h4>
                <div
                    class="grid justify-center gap-4 md:grid-cols-2 lg:grid-cols-3 constrained">
                    {MEMBERS.map(member => <MemberCard {...member} />)}
                </div>
            </article>
            <article>
                <h4 class="mb-4">Past Members</h4>
                <ul
                    class="grid md:grid-cols-2 lg:grid-cols-3 gap-2 constrained">
                    {PAST_MEMBERS.map(member => <li>{member}</li>)}
                </ul>
            </article>
        </div>
    </section>
    <Footer />
</Layout>

<style lang="postcss">
    section {
        scroll-margin: 4rem;
    }

    .link-button {
        @apply bg-secondary text-on-secondary rounded-lg p-2;
    }
</style>
